<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <section class="container forms">
        <img src="./images/mathew-schwartz-GjzJFMnJZYg-unsplash.jpg" alt="image">
        <div class="form login">
            <header>Signup</header>

            <form action="/signup" method="post">
                <div class="field input-filed">
                    <input type="email" placeholder="Email" class="input" name="email">
                </div>

                <div class="field input-filed">
                    <input type="password" placeholder="Password" class="password" name="password">
                    
                </div>
                <!-- <div class="field input-filed">
                    <input type="password" placeholder="confirm Password" class="password" name="conpassword">
                    <i class='bx bx-hide eye-icon'></i>
                </div> -->

                

                <div class="field button-filed">
                    <button type="submit">Signup</button>
                </div>

                <span class="form-link">
                    <!-- <span>Already have an account ?<a href="#" class="Singup-link">Singup</a></span> -->
                  <span>Already have an account ?  <a href="/">login</a></span>
                </div>
            </form>
        </div>
    </section>

    
</body>
</html>